<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf with Image</title>
    <style>
        .paragraph-list {
            list-style-type: none;
            padding: 0;
        }

        .paragraph-list li {
            margin-bottom: 10px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<ul class="paragraph-list">
    <li th:each="item : ${cartItems}">

            <ul th:each="image : ${item.getImages()}">
                <img th:src="'/images/' + ${image.getId()}">
            </ul>

        <p th:text="${item.name}"></p>

    </li>


</ul>

</body>
</html>
