/* FRAMEWORK----------------------------------------------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
button:hover {
  cursor: pointer;
}
body {
  font-size: 14px;
  font-family: Calibri, Verdana, sans-serif;
  width: 100%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.col {
  flex: 1;
}
.gap1 {
  column-gap: 10px;
}
.gap2 {
  column-gap: 20px;
}
.gap3 {
  column-gap: 30px;
}
.gap4 {
  column-gap: 40px;
}
.gap5 {
  column-gap: 5%;
}
.gh1 {
  font-size: 30px;
}
.gh2 {
  font-size: 20px;
}

/* FRAMEWORK----------------------------------------------------------------------------------------*/

/* HEADER ------------------------------------------------------------------------------------------*/
header {
  width: 90%;
  margin: 0px auto;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  padding-top: 40px;
}
#searchbar {
  width: 300px;
}
.search {
  border: 2px solid black;
  border-radius: 60px;
  width: 20px;
  padding: 10px 15px;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in, width 0.5s ease-in;
}
#searchbar:hover .search, .search:focus {
  opacity: 1;
  width: 260px;
}
#icon {
  width: 40px;
  margin-right: 10px;
}
#logo {
  text-align: right;
}
#logo h1 {
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
}
#user {
  align-items: center;
  justify-content: end;
}
#user img {
  width: 40px;
  height: 40px;
}
#user img:first-child {
}
/* HEADER ------------------------------------------------------------------------------------------*/

/* NAV ---------------------------------------------------------------------------------------------*/
#main_nav {
  width: 60%;
  margin: 10px auto 20px;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  word-break: normal;
}
#main_nav img {
  width: 15px;
  height: 15px;
}
.dropdown-button {
  font-size: 25px;
  font-weight: lighter;
}
.dropdown {
  margin: 0px 10px;
  position: relative;
  width: 120px;
  text-align: center;
}
.dropdown:hover {
  background-color: rgba(220, 220, 220, 1.0);
}
.dropdown-menu {
  width: 100%;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 999;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu li {
  font-size: 25px;
  padding: 5px 10px;
  background-color: white;
  text-align: center;
}
.dropdown-menu li:hover {
  background-color: rgba(220, 220, 220, 1.0);
  transition: 0.5s;
}
#main_nav div {
  align-items: center;
}
/* NAV ---------------------------------------------------------------------------------------------*/
/*MAIN ---------------------------------------------------------------------------------------------*/
.content {
  width: 80%;
  margin: 0 auto 20px;
}
.images {
  margin: 0px auto;
  column-gap: 3vw;
}
.v-images {
  flex-direction: column;
  row-gap: 5vh;
  justify-content: center;
}
.s-img {
  width: 7vw;
  aspect-ratio: 1/1;
}
.main-img {
  width: 30vw;
  aspect-ratio: 1/1;
}
.main-info {
  width: 25%;
  margin-left:5%;
}
.name {
  font-size: 30px;
  margin-bottom: 10px;
}
.brand {
  margin-bottom: 20px ;
}
.brand-name {
  text-decoration: underline;
}
.price {
  font-size: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.size {
  font-size: 20px;
  margin-bottom: 5px;
}
.size-buttons {
  font-size: 25px;
  justify-content: center;
  column-gap: calc((100% - 125px) / 5);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.size-button {
  width: 25px;

}
.size-button:focus {
  color: white;
  background-color: black;
}
.color {
  font-size: 20px;
  margin-bottom:10px ;
}
.color-button {
  margin-left: 10px;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.color-button:focus, #white:focus {
  border: 2px solid black;
}
#blue {
  background-color: darkblue;
}
#brown {
  background-color: brown;
}
#green {
  background-color: darkgreen;
}
#black {
  background-color: black;
}
#white {
  border: 1px solid black;
}
.color-buttons {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.add {
  text-align: center;
  background-color: black;
  border-radius: 50px;
  padding: 10px 0px;
}
.add-button {
  font-size: 30px;
  color: white;
  font-weight: lighter;
}
.add:hover {
  background-color: white;
  border: 1px solid black;
  transition: 0.2s;
}
.add:hover .add-button {
  color: black;
}
.info-other {
  width: 80%;
  margin: 0 auto 20px;
}
.details {
  padding-right: 40px;
  height: 50%;
  margin-right: 10px;
  border-right: 1px solid lightgrey;
}
.details h3 {
  margin-bottom: 10px;
}
.details p {
  font-size: 15px;
  margin-bottom: 10px;
}
.preview {
  width: 10vw;
  aspect-ratio: 1/1;
}
.other h3 {
  text-align: center;
  margin-bottom: 10px;
}
.other h4 {
  text-align: center;
  margin-bottom: 20px;
}
.other-price {
  text-align: center;
}