<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="STBids-css.css">
	<title>Bids</title>
</head>
<body>
<header>
	    <div id="header_nest" class="d-flex">
	      <a href="STIndex.html" id="logo">
	        <img id="logo_img" src="images/logo.svg" />
	      </a> 
	      <div id="part2">
	        <form id="searchbar" class="d-flex" action="">
	          <button type="submit"><svg id="search_icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="42px" height="42px"><path d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z"/></svg> 
	          </button>
	          <input class="search col2" type="text" placeholder="Search." name="search">
	        </form>
	      </div>
	      <div id="social">
	         <a class="mar-1" href="STCart.html" title="Cart"> <img src="images/shopping-cart.png" title="cart" width="42px" height="42px"></a>
	         <div class="line"></div>
	         <a class="mar-1" href="STProfile.html" title="User"><img src="images/user.png" title="User" width="42px" height="42px"></a>
	         <div class="line"></div>
	         <a class="mar-1" href="STAdd.html" title="Navigation"> <img src="images/navigation2.png" title="navigation" width="42px" height="42px"></a>
	      </div>
	    </div>
  	</header>
  	<nav id="categories">
    <button>Shoes <img id="test" src="images/down-arrow-grey.svg" height="10px" width="10px"></button>
    <button>Clothing <img src="images/down-arrow-grey.svg" height="10px" width="10px"></button>
    <button>Accessories <img src="images/down-arrow-grey.svg" height="10px" width="10px"></button>
    <button>New brands <img src="images/down-arrow-grey.svg" height="10px" width="10px"></button>
  </nav>
	<nav id="nav"> 
		<a href="STIndex.html">Home</a> /
		<a href="STProfileR.html">bids</a>
	</nav>
	<div id="container">
		<div id="title">
			<h2>Active bids</h2>
			<p>Here is the list of all active bids you have placed on our marketplace. <br> You can easily check if your bid met with the seller's demand. </p>
		</div>
		<div id="items">
			<div id="row" class="d-flex">
				<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
			</div>
			<div id="row" class="d-flex">
				<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
			</div>
			<div id="row" class="d-flex">
				<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
			</div>
			<div id="row" class="d-flex">
				<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
        		<a href="STItem.html" class="inventory_a">
          			<img class="inventory_a_img" src="images/sneakers.png">
          			<h4 class="name">Full shoe name</h4>
          			<h4 class="price">price &euro;</h4>
        		</a>
			</div>
		</div>
		<div id="page_button" class="d-flex">
				<a id="active" href="STShoes.html"> 1</a>
				<a href="STShoes.html"> 2</a>
				<a href="STShoes.html"> 3</a>
				<a href="STShoes.html"> 4</a>
				<p>...</p>
				<a href="STShoes.html"> 26</a>
				<a href="STShoes.html"> <img src="images/right-arrow-green.svg" width="7px" height="7px"></a>
			</div>
	</div>
	<footer>
		<div class="d-flex" id="f_info">
			<div id="sell">
				<h2>Step Trader</h2>
				<a href="">About us</a>
				<a href="">Commercial terms</a>
				<a href="">Privacy and policy terms</a>
			</div>
			<div id="help">
				<h2>For You</h2>
				<a href=""> Q&A</a>
				<a href=""> Product returns and complaints</a>
				<a href=""> Delivery and payment</a>
			</div>
			<div id="guide">
				<h2>Contacts</h2>
				<a href=""> Email</a>
				<a href=""> Instagram</a>
				<a href=""> Facebook</a>
				<a href=""> TikTok</a>
			</div>
		</div>
		<div id="socials">
			<div class="d-flex" id="nest">
				<div class="col">
					
				</div>
				<div class="col">
					<div id="links" class="d-flex">
					<a href=""><img src="images/instagram.png" width="40px" height="40px"></a>
					<a href=""><img src="images/facebook.png" width="40px" height="40px"></a>
					<a href=""><img src="images/twitter.png" width="40px" height="40px"></a>
					<a href=""><img src="images/youtube.png" width="40px" height="40px"></a>
					</div>
				</div>
				<div class="col">
					<a href=""> <img src="images/social.png" width="80px" height="80px"></a>
				</div>
			</div>
		</div>


	</footer>
</body>
</html>